* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "LXGW";
}

body {
    background-image: url("./../../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.button {
    border: none;
    outline: none;
    font-size: var(--size-secondary);
    background: var(--accent-color);
    color: var(--background);
    cursor: pointer;
    transition: 0.1s;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.button:hover {
    opacity: 0.8;
}

.button:active {
    background: var(--active);
}

.input {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.input:hover {
    opacity: 0.8;
}

.input:focus {
    outline: none;
    border: 6px solid rgba(var(--accent-color-rgb), 1);
}