/*colors*/

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #1A4BDD;
    --secondary-color-rgb: 26, 75, 221;
    --accent-color: #F57C00;
    --accent-color-rgb: 245, 124, 0;
    --text-color: #333333;
    --background: #FFFFFF;
    --active: #D96E00;
    --background-black: #000000;
    --background-black-rgba: 0, 0, 0;

}

:root {
    --size-title: 5rem;       /* 80px */
    --size-primary: 3.75rem;  /* 60px */
    --size-subtitle: 3.125rem; /* 50px */
    --size-secondary: 2.5rem;  /* 40px */
    --size-description: 1.875rem; /* 30px */
    --size-help: 1.5625rem;   /* 25px */
}

