@import url("../../base/variables.css");

.header {
    position: relative;
    display: flex;
    background-color: var(--background);
    border-radius: 24px;
    margin-top: 4.375rem;
    max-width: 100%;
}

.header__logo {
    position: absolute;
    top: -4.375rem;
    width: 100%;
    height: auto;
    max-width: 18.75rem;
    max-height: 18.75rem;
}

.header__nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 5.625rem 1.5rem 18.75rem;
}

.header__links {
    text-decoration: none;
    font-size: var(--size-primary);
    color: var(--text-color);
    border: none;
}

.header__links:hover {
    opacity: 0.8;
}

.header__menu {
    display: none;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
}

@media (max-width: 1450px) {
    .header__nav {
        flex-wrap: wrap;
    }
}

@media (max-width: 1000px) {
    .header__nav {
        display: none;
    }

    .header__menu {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
        padding: 30px;
    }
}