@import url("../../base/variables.css");

.header {
    display: flex;
    background-color: var(--background);
    border-radius: 24px;
    margin-top: 70px;
}

.header__logo {
    position: absolute;
    top: 0;
}

.header__nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 5.625rem 1.5rem 18.75rem;
}

.header__links {
    text-decoration: none;
    font-size: var(--size-primary);
    color: var(--text-color);
}

.header__links:hover {
    opacity: 0.8;
}