@import url("../../base/variables.css");

.event {
    display: flex;
    flex-direction: column;
    padding: 13px;
    width: 100%;
    height: 100%;
    background: var(--background);
    border-radius: 24px;
    box-shadow: 0 5px 15px #B4B4B4;
}

.event__banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}